<a href="https://colab.research.google.com/github/spinosaphb/ufc-machine-learning/blob/main/activities/A1/A1_DS0_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activitie 1 - Data Set : Ethereum Historical Data

## Loading dataset from github repository:

In [1]:
import pandas as pd
ds = pd.read_csv("https://raw.githubusercontent.com/spinosaphb/ufc-machine-learning/main/datasets/DS0/Ethereum%20Historical%20Data.csv", thousands=',') # specifies the thousands identifier of the number

## Showing the first 20 rows of dataset:

In [2]:
ds.head(20)

            Date  Price   Open   High    Low     Vol. Change %
0   Mar 10, 2016  11.75  11.20  11.85  11.07    0.00K    4.91%
1   Mar 11, 2016  11.95  11.75  11.95  11.75    0.18K    1.70%
2   Mar 12, 2016  12.92  11.95  13.45  11.95    0.83K    8.12%
3   Mar 13, 2016  15.07  12.92  15.07  12.92    1.30K   16.64%
4   Mar 14, 2016  12.50  15.07  15.07  11.40   92.18K  -17.05%
5   Mar 15, 2016  13.06  12.63  13.42  11.98   39.73K    4.48%
6   Mar 16, 2016  12.88  13.06  13.89  12.62   19.24K   -1.38%
7   Mar 17, 2016  10.74  12.58  12.61  10.44   89.45K  -16.61%
8   Mar 18, 2016  10.74  11.09  11.20   8.34  157.37K    0.00%
9   Mar 19, 2016  10.31  10.97  11.10   9.78   67.55K   -4.00%
10  Mar 20, 2016  10.18  10.55  10.88   9.56   33.18K   -1.26%
11  Mar 21, 2016  11.95  10.18  12.05  10.14   38.86K   17.39%
12  Mar 22, 2016  11.37  11.53  11.97  11.08   26.29K   -4.85%
13  Mar 23, 2016  12.43  11.37  12.43  11.20   27.02K    9.32%
14  Mar 24, 2016  11.20  12.43  12.47  10.67   50.80K   -9.90%
15  Mar 25, 2016  10.67  11.32  11.35  10.52   87.42K   -4.73%
16  Mar 26, 2016  11.00  10.67  11.20  10.58   16.12K    3.09%
17  Mar 27, 2016  10.40  10.93  10.98  10.17   55.81K   -5.45%
18  Mar 28, 2016  11.62  10.40  11.94  10.40   77.31K   11.73%
19  Mar 29, 2016  11.79  11.78  11.88  11.37   47.57K    1.46%

## Number of rows from dataset:

In [3]:
ds.shape[0] # Number of rows
# Others possibilities: len(ds.index), len(ds) , ds.columns[0].count

1890

## Mean, standard deviation and minimum and maximum values from 'Price' column:

In [4]:
# taking the Price column 
price_col = ds['Price'].astype(float) # this is only necessary if your data set is a string
# round() specifies the number of decimal places after the comma
mean = round(price_col.mean(), 2)  
std  = round(price_col.std(), 2)
minv = price_col.min()
maxv = price_col.max()
mean, std, minv, maxv

(364.33, 508.68, 6.7, 4241.19)

## Showing the first 5 rows of the dataset in descending order based on the 'Price' column:

In [5]:
ds.head(5).sort_values('Price', ascending=0)

           Date  Price   Open   High    Low    Vol. Change %
3  Mar 13, 2016  15.07  12.92  15.07  12.92   1.30K   16.64%
2  Mar 12, 2016  12.92  11.95  13.45  11.95   0.83K    8.12%
4  Mar 14, 2016  12.50  15.07  15.07  11.40  92.18K  -17.05%
1  Mar 11, 2016  11.95  11.75  11.95  11.75   0.18K    1.70%
0  Mar 10, 2016  11.75  11.20  11.85  11.07   0.00K    4.91%

## Showing the first 5 rows in descending order of the dataset based on the 'Price' column:

In [6]:
ds.sort_values('Price', ascending=0).head(5)

              Date    Price     Open     High      Low   Vol. Change %
1889  May 12, 2021  4241.19  4173.61  4366.10  4151.39  2.20M    1.76%
1888  May 11, 2021  4167.78  3948.66  4177.53  3781.86  1.27M    5.57%
1887  May 10, 2021  3947.90  3923.48  4203.98  3669.84  2.70M    0.65%
1886  May 09, 2021  3922.23  3905.69  3979.77  3734.44  1.94M    0.43%
1885  May 08, 2021  3905.55  3479.81  3952.88  3453.37  1.34M   12.19%

# end </>