<a href="https://colab.research.google.com/github/spinosaphb/ufc-machine-learning/blob/main/activities/A1_DS0_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activitie 1 - Data Set : LOL_champions_stats

## Loading data set from github repository:

In [9]:
import pandas as pd
ds = pd.read_csv("https://raw.githubusercontent.com/spinosaphb/ufc-machine-learning/main/datasets/DS0%20-%20LOL/LOL_champions_stats.csv", delimiter=';')

## Showing the first 20 rows of dataset:

In [10]:
ds.head(20)

   champion_name,champion_title,class,playstyle,date_release,last_change,blue_essence_price,rp_price,ressource,HP,HP+,HP_lvl18,HP5,HP5+,HP5_lvl18,MP,MP+,MP_lvl18,MP5,MP5+,MP5_lvl18,AD,AD+,AD_lvl18,AS,AS+,AS_lvl18,AR,AR+,AR_lvl18,MR,MR+,MR_lvl18,MS,MS_lvl18,range,range_lvl18
0   Aatrox,the Darkin Blade,Fighter,Juggernaut,13/...
1   Ahri,the Nine-Tailed Fox,Mage,Burst,14/12/2011...
2   Akali,the Rogue Assassin,Slayer,Assassin,11/05...
3   Alistar,the Minotaur,Tank,Vanguard,21/02/2009,...
4   Amumu,the Sad Mummy,Tank,Vanguard,26/06/2009,V...
5   Anivia,the Cryophoenix,Mage,Battlemage,10/07/2...
6   Annie,the Dark Child,Mage,Burst,21/02/2009,V11...
7   Aphelios,the Weapon of the Faithful,Marksman,M...
8   Ashe,the Frost Archer,Marksman,Marksman,21/02/...
9   Aurelion Sol,The Star Forger,Mage,Battlemage,2...
10  Azir,the Emperor of the Sands,Specialist,Speci...
11  Bard,the Wandering Caretaker,Controllerer,Catc...
12  Blitzcrank,the Great Steam Golem,Controllerer,...
13  Brand,the Burning Vengeance,Mage,Burst,12/04/2...
14  Braum,the Heart of the Freljord,Tank,Warden,12...
15  Caitlyn,the Sheriff of Piltover,Marksman,Marks...
16  Camille,the Steel Shadow,Fighter,Diver,07/12/2...
17  Cassiopeia,the Serpent's Embrace,Mage,Battlema...
18  Chogath,the Terror of the Void,Specialist,Spec...
19  Corki,the Daring Bombardier,Marksman,Marksman,...

## Number of rows from dataset:

In [37]:
ds.shape[0] # Number of rows
# Others possibilities: len(ds.index), len(ds) , ds.columns[0].count

157

## Mean, standard deviation and minimum and maximum values from 'HP' column:

In [100]:
# taking the HP column 
hpcol = ds['HP']
# round() specifies the number of decimal places after the comma
mean = round(hpcol.mean(), 2)  
std  = round(hpcol.std(), 2)
minv = hpcol.min()
maxv = hpcol.max()
mean, std, minv, maxv

(557.7, 40.03, 340.0, 740.0)

## Showing the first 5 rows of the dataset in descending order based on the 'HP' column:

In [93]:
ds.head(5).sort_values('HP', ascending=0)

,champion_name,champion_title,class,playstyle,date_release,last_change,blue_essence_price,rp_price,ressource,HP,...,AR,AR+,AR_lvl18,MR,MR+,MR_lvl18,MS,MS_lvl18,range,range_lvl18
4,Amumu,the Sad Mummy,Tank,Vanguard,26/06/2009,V11.7,450,260,Mana,615.0,...,30.0,3.80,94.60,32.0,1.25,53.25,335,335,125,125
3,Alistar,the Minotaur,Tank,Vanguard,21/02/2009,V11.8,1350,585,Mana,600.0,...,44.0,3.50,103.50,32.0,1.25,53.25,330,330,125,125
0,Aatrox,the Darkin Blade,Fighter,Juggernaut,13/06/2013,V11.2,4800,880,Blood Well,580.0,...,38.0,3.25,93.25,32.0,1.25,53.25,345,345,175,175
1,Ahri,the Nine-Tailed Fox,Mage,Burst,14/12/2011,V11.1,3150,790,Mana,526.0,...,21.0,3.50,80.50,30.0,0.50,38.50,330,330,550,550
2,Akali,the Rogue Assassin,Slayer,Assassin,11/05/2010,V11.10,3150,790,Energy,500.0,...,23.0,3.50,82.50,37.0,1.25,58.25,345,345,125,125

## end </> :)