In [2]:
import sys
sys.path.append("../../../")
sys.path.append("../")

In [32]:
import pandas as pd
import numpy as np
from libs.kNearestNeighbor import knn
from libs import metrics
from sklearn.model_selection import train_test_split

In [4]:
path = 'https://raw.githubusercontent.com/spinosaphb/ufc-machine-learning/main/datasets/winequality-white.csv'
df = pd.read_csv(path, delimiter=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
df['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [6]:
df.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
fixed acidity,1.000000,-0.022697,0.289181,0.089021,0.023086,-0.049396,0.091070,0.265331,-0.425858,-0.017143,-0.120881,-0.113663
volatile acidity,-0.022697,1.000000,-0.149472,0.064286,0.070512,-0.097012,0.089261,0.027114,-0.031915,-0.035728,0.067718,-0.194723
citric acid,0.289181,-0.149472,1.000000,0.094212,0.114364,0.094077,0.121131,0.149503,-0.163748,0.062331,-0.075729,-0.009209
residual sugar,0.089021,0.064286,0.094212,1.000000,0.088685,0.299098,0.401439,0.838966,-0.194133,-0.026664,-0.450631,-0.097577
chlorides,0.023086,0.070512,0.114364,0.088685,1.000000,0.101392,0.198910,0.257211,-0.090439,0.016763,-0.360189,-0.209934
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,1.000000,0.615501,0.294210,-0.000618,0.059217,-0.250104,0.008158
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,1.000000,0.529881,0.002321,0.134562,-0.448892,-0.174737
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,1.000000,-0.093591,0.074493,-0.780138,-0.307123
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,1.000000,0.155951,0.121432,0.099427
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,1.000000,-0.017433,0.053678
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433,1.000000,0.435575
quality,-0.113663,-0.194723,-0.009209,-0.097577,-0.209934,0.008158,-0.174737,-0.307123,0.099427,0.053678,0.435575,1.000000

In [7]:
# Getting X and y
dfs = df.sample(frac=1, random_state=42)
X = dfs.drop('quality', axis=1)
y = dfs['quality']

In [16]:
percent = int(dfs.shape[0] * 0.7)
# Getting X_train and X_test
X_train = X[:percent]
X_test = X[percent:]
# Getting y_train and y_test
y_train  = np.array(y[:percent])
y_test = np.array(y[percent:])

In [50]:
X_train, y_train, X_test, y_test = train_test_split(X, y, train_size=0.7,random_state=42,stratify=y)

In [51]:
## standardization
meanX = X_train.mean()
stdX = X_train.std()
X_train = (X_train - meanX) / stdX
X_test = (X_test - meanX) / stdX
X_train, X_test = np.array(X_train), np.array(X_test)
y_train, y_test = np.array(y_train), np.array(y_test)

In [52]:
ks = ['2k','3k','5k','7k','11k','13k','17k','23k']
knns = {}
for k in ks:
    knns[k] = []

In [53]:
for k in knns:
    for test in X_test:
        k_value = int(k.replace('k',''))
        knns[k].append( knn.predict_classification(X_train, y_train, test, k_value) )

IndexError: index 2279 is out of bounds for axis 0 with size 1470

## Classification Metrics

In [22]:
df_metrics = {
    'k-Neighbors':knns.keys()
}

### `Accuracy Score`

In [24]:

accuracys = []

for k in knns.keys():
    accuracy = metrics.accuracy_score(y_test, knns[k])
    accuracys += [round(accuracy*100, 2)]
df_metrics['accuracy'] = accuracys
df_metrics['accuracy']

[57.76, 55.24, 54.9, 54.49, 55.99, 56.26, 55.58, 56.8]

### `Precision Score`

In [25]:
precisions = []

for k in knns.keys():
    precision = metrics.precision_score(y_test, knns[k])
    precisions += [round(precision*100, 2)]
df_metrics['precision'] = precisions
df_metrics['precision']

[58.03, 54.34, 53.14, 52.4, 53.95, 55.1, 55.28, 54.93]

### `Recall Score`

In [26]:
recalls = []

for k in knns.keys():
    recall = metrics.recall_score(y_test, knns[k])
    recalls += [round(recall*100, 2)]
df_metrics['recall'] = recalls
df_metrics['recall']

[57.76, 55.24, 54.9, 54.49, 55.99, 56.26, 55.58, 56.8]

### `F1-Score`

In [27]:
f1_scores = []

for k in knns.keys():
    f1_score = metrics.f1_score(y_test, knns[k])
    f1_scores += [round(f1_score*100, 2)]
df_metrics['f1-score'] = f1_scores
df_metrics['f1-score']

[57.89, 54.79, 54.0, 53.42, 54.95, 55.67, 55.43, 55.85]

In [28]:
pd.DataFrame(df_metrics)

  k-Neighbors  accuracy  precision  recall  f1-score
0          2k     57.76      58.03   57.76     57.89
1          3k     55.24      54.34   55.24     54.79
2          5k     54.90      53.14   54.90     54.00
3          7k     54.49      52.40   54.49     53.42
4         11k     55.99      53.95   55.99     54.95
5         13k     56.26      55.10   56.26     55.67
6         17k     55.58      55.28   55.58     55.43
7         23k     56.80      54.93   56.80     55.85