<a href="https://colab.research.google.com/github/spinosaphb/ufc-machine-learning/blob/main/activities/regression/A4/houseprice_with_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import knn
from pandas import DataFrame

## Making DataSet

In [11]:
age  = [25, 35, 45, 20, 35, 52, 23, 40, 60, 48, 33]
loan = [40000, 60000, 80000, 20000, 120000, 18000, 95000, 62000, 100000, 220000, 150000]
hpi  = [135, 256, 231, 267, 139, 150, 127, 216, 139, 250, 264]
train_data = np.column_stack([age, loan, hpi])
train_data

array([[    25,  40000,    135],
       [    35,  60000,    256],
       [    45,  80000,    231],
       [    20,  20000,    267],
       [    35, 120000,    139],
       [    52,  18000,    150],
       [    23,  95000,    127],
       [    40,  62000,    216],
       [    60, 100000,    139],
       [    48, 220000,    250],
       [    33, 150000,    264]])

## Separating the X and y

In [12]:
X, y = train_data[:,:2], train_data[:,2]

## Normalizing X

In [13]:
minValueCols = X[:, 0].min(), X[:, 1].min()
maxValueCols = X[:, 0].max(), X[:, 1].max()
X = (X - minValueCols) / (np.array(maxValueCols) - minValueCols)

In [70]:
age = [42, 30]
loan = [142000, 50000]
test_data = np.column_stack([age, loan])

In [73]:
test_data = knn.normalize(test_data, minValueCols, maxValueCols)

## Getting the regression of each `test` for each `k`

In [100]:
# Dictionary that will contain the prediction
result_regression = {}
result_regression["age"], result_regression["loan"], result_regression["hpi"] = {},{},{}
for row in range(test_data.shape[0]):
    result_regression["age"][row], result_regression["loan"][row] = test_data[row]
    result_regression["hpi"][row] = round(knn.predict_regression(X, y, test_data[row], 3))

## Showing regression of each `test` for each `k`

In [105]:
df = DataFrame(result_regression)
df.index = ['test1','test2']

In [108]:
DataFrame({
    "age"  : X[:, 0],
    "loan" : X[:, 1],
    "hpi"  : y}, columns=["age", "loan", "hpi"]).append(df)

         age      loan  hpi
0      0.125  0.108911  135
1      0.375  0.207921  256
2      0.625  0.306931  231
3      0.000  0.009901  267
4      0.375  0.504950  139
5      0.800  0.000000  150
6      0.075  0.381188  127
7      0.500  0.217822  216
8      1.000  0.405941  139
9      0.700  1.000000  250
10     0.325  0.653465  264
test1  0.550  0.613861  211
test2  0.250  0.158416  202